Repository radxene/jsonforms-react: changes, and which lint-staged commands are due for each by the changed paths.
All: csscomb --tty-mode, eslint --max-warnings=0 --ignore-path .gitignore, prettier --write

Created temporary layout
  package-lock.json
  package.json
  src/builder/forms/example/example-form.tsx
  src/builder/forms/example/index.ts
  src/builder/forms/example/schemas/uischema.json
  src/components/App/App.scss
  src/components/App/App.tsx
  src/components/App/logo.svg
  src/components/Dashboard/Dashboard.tsx
  src/components/Dashboard/index.ts
Due: csscomb --tty-mode, eslint --max-warnings=0 --ignore-path .gitignore, prettier --write

Render example form
  config-overrides.js
  package-lock.json
  package.json
  src/builder/forms/example/example-form.tsx
  src/components/App/App.tsx
Due: eslint --max-warnings=0 --ignore-path .gitignore, prettier --write

Updated api schemas
  src/builder/forms/example/example-form.tsx
  src/builder/forms/example/schemas/uischema.json
Due: eslint --max-warnings=0 --ignore-path .gitignore, prettier --write

Created custom button
  .eslintrc
  package-lock.json
  src/builder/forms/example/JsonButton/JsonButton.tsx
  src/builder/forms/example/JsonButton/JsonButtonControl.tsx
  src/builder/forms/example/JsonButton/JsonButtonTester.ts
  src/builder/forms/example/JsonButton/index.ts
  src/builder/forms/example/example-form.tsx
  src/builder/forms/example/mock_data.json
Due: eslint --max-warnings=0 --ignore-path .gitignore, prettier --write

Added align field for json_button
  src/builder/forms/example/JsonButton/JsonButton.tsx
  src/builder/forms/example/JsonButton/JsonButtonControl.tsx
  src/builder/forms/example/mock_data.json
Due: eslint --max-warnings=0 --ignore-path .gitignore, prettier --write

Added enum type for align
  src/builder/forms/example/mock_data.json
Due: none

Added json_iframe
  src/builder/forms/example/JsonButton/JsonButtonTester.ts
  src/builder/jsonforms/JsonButton/JsonButton.tsx
  src/builder/jsonforms/JsonButton/JsonButtonControl.tsx
  src/builder/jsonforms/JsonButton/index.ts
  src/builder/jsonforms/JsonIframe/JsonIframe.scss
  src/builder/jsonforms/JsonIframe/JsonIframe.tsx
  src/builder/jsonforms/JsonIframe/JsonIframeControl.tsx
  src/builder/jsonforms/JsonIframe/index.ts
  src/builder/jsonforms/example/example-form.tsx
  src/builder/jsonforms/example/index.ts
  src/builder/jsonforms/example/mock_data.json
  src/components/App/App.tsx
  src/utils/index.ts
  src/utils/jsonforms.ts
Due: csscomb --tty-mode, eslint --max-warnings=0 --ignore-path .gitignore, prettier --write

Edited the readme
  README.md
Due: none

Setup envs
  .env.development
  .env.production
  src/builder/jsonforms/example/example-form.tsx
  src/utils/index.ts
  src/utils/url.ts
Due: eslint --max-warnings=0 --ignore-path .gitignore, prettier --write

Path conditions:
  csscomb --tty-mode: any of: src/**/*.scss
  eslint --max-warnings=0 --ignore-path .gitignore: any of: src/**/*.{ts,tsx}
  prettier --write: any of: src/**/*.{ts,tsx}
